@font-face {
  font-family: 'GamjaFlower';
  src: url('./fonts/GamjaFlower-Regular.ttf');
}

@font-face {
  font-family: 'IndieFlower';
  src: url('./fonts/IndieFlower-Regular.ttf');
}

@font-face {
  font-family: 'RubikMoonrocks';
  src: url('./fonts/RubikMoonrocks-Regular.ttf');
}

@font-face {
  font-family: 'BalsamiqSans';
  src: url('./fonts/BalsamiqSans-Bold.ttf');
}

@font-face {
  font-family: 'BungeeShade';
  src: url('./fonts/BungeeShade-Regular.ttf');
}

@font-face {
  font-family: 'DelaGothicOne';
  src: url('./fonts/DelaGothicOne-Regular.ttf');
}

@font-face {
  font-family: 'MontserratSubrayada';
  src: url('./fonts/MontserratSubrayada-Bold.ttf');
}

@font-face {
  font-family: 'Dd';
  src: url('./fonts/Dd.ttf');
}
@font-face {
  font-family: 'RubikDirt';
  src: url('./fonts/RubikDirt-Regular.ttf');
}

@font-face {
  font-family: 'RampartOne';
  src: url('./fonts/RampartOne-Regular.ttf');
}

@font-face {
  font-family: 'Coiny';
  src: url('./fonts/Coiny-Regular.ttf');
}
@font-face {
  font-family: '22';
  src: url('./fonts/22.ttf');
}





